/**
 * Theme Mixins
 */

// SASS CSS math functions fixes
@function css-function( $function, $values... ) {
	@return
		$function
		+ unquote( '(' )
		+ $values
		+ unquote( ')' )
	;
}
@function css-min( $values... ) {
	@return css-function( min, $values );
}
@function css-max( $values... ) {
	@return css-function( max, $values );
}
@function css-clamp( $values... ) {
	@return css-function( clamp, $values );
}


// Bootstrap Button auto contrast
@mixin bootstrap-button($background) {
	$color: #fff;
	$border: 5%;
	@if (lightness($background) >= lightness(#aaa)) {
		$color: #333;
		$border: .2 * lightness($background);
	}
	@include button-variant($color, $background, darken($background, $border));
}
